body {
    margin: 8px 0 0;
    height: 100vh;
}
#app {
    height: 100%;
}
.main {
    height: 100%;
}
#page-title {
    cursor: unset;
    opacity: 1;
}
.flex-grow {
    flex-grow: 1;
}
.info-card {
    margin-top: 20px;
    padding: 15px;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.35);
}
.card-header {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}
.disable-select {
    user-select: none;
}
.module-card-header {
    display: flex;
    justify-content: space-between; /* 左右对齐 */
    align-items: center; /* 垂直居中 */
}

.module-card-header-left {
    display: flex;
    align-items: center; /* 图标和文字垂直居中 */
}